@import'utilities.css';
*{
    padding: 0;
    margin: 0;

}
html{
    scroll-behavior: smooth;
}
header{
    background-color: black;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 90%,0 100%);
}
.container{
    width: 1152px;
    padding: 0% 15px;
    margin: 0 auto;
}
.left a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}
.left a:hover{
    color: blue;
}
.header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 3rem;
}
.hero{
    padding: 3rem 0;
}
.hero img{
    width 400px
}
.hero .right{
    color: white;
}
.hero .right h6{
    font-size: 1.6rem;
    color: violet;
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 5rem;
    font-weight: 100;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: violet;
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top: -7rem;
}
section{
    padding: 6rem 0;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.7rem;
   
}
section.about h1 span{
    color: violet;
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-size: 150%;
}
section.about p{
    font-family: 'lato';
    color: gray;
    line-height: 1.8;
    font-weight: bold;
    font-size: 1.5rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 35px;
    height: 35px; */
    border-radius: 50%;
    margin-right: 1.6rem;
}
section.about .social a:hover{
    background: violet;
    transition: all .3s ease;
}


.section-heading{
    color: black;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: 2rem;
}
.section-heading span{
    color: violet;
}
.section-heading +p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 6rem;
}
section.services{
    background: rgb(116, 105, 116);
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:3rem ;
    grid-row-gap:5rem ;
}
section.services .card-wrapper .card{
    background: white;
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    color:rgb(116, 105, 116);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background:violet;
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color:white;
}
section.freelancer{
    text-align: center;
    background-color: black;
    color: white;
    clip-path: polygon(0 0,100% 0,100% 100%,67% 80%,0 100%);
    padding-bottom: 14rem;
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelancer p{
    margin-bottom: 2rem;
}